<div class="modal fade" id="{{ prefix_id|default:'action' }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ prefix_id|default:'action' }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ title|default:'Action Record'|safe }}</h4>
      </div>
      <form id="{{ prefix_id|default:'action' }}Form" method="post" data-action="{{ action }}" action="{{ action }}">
        {% csrf_token %}
        <div class="modal-body {{ message_class|default:'text-info' }}">
          {{ message|default:'<p>Are you sure?</p>'|safe }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
