{% extends "network_monitor/core/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load util_tags %}

{% block breadcrumb_items %}
<li><a href="{% url 'core:device-list' %}">Device List</a></li>
<li>New Device</li>
{% endblock %}

{% block content %}
<h3 class="page-title">Discover Device</h3>

<form id="discoverDeviceForm" method="post">
    {% csrf_token %}
    {% if last_scan.processing %}
    {% bootstrap_field form.ip_range bound_css_class='' addon_after_class='input-group-btn' addon_after='<button type="submit" id="searchButton" class="btn btn-success" data-loading-text="<span class=\'fa fa-refresh fa-spin\'></span> Discovering..."><span class="fa fa-search"></span> Discover</button><button type="button" id="stopButton" class="btn btn-danger" title="Stop" data-loading-text="<span class=\'fa fa-refresh fa-spin\'></span>"><span class="fa fa-stop"></span></button>' %}
    {% else %}
    {% bootstrap_field form.ip_range bound_css_class='' addon_after_class='input-group-btn' addon_after='<button type="submit" id="searchButton" class="btn btn-success" data-loading-text="<span class=\'fa fa-refresh fa-spin\'></span> Discovering..."><span class="fa fa-search"></span> Discover</button>' %}
    {% endif %}
</form>
{% if last_scan.processing %}
<div class="text-info"> Scanning for: <strong>{{ last_scan.ip_range }}</strong> ...</div>
{% elif last_scan.success == False %}
<div class="text-danger"> Failed <strong>{{ last_scan.ip_range }}</strong> scan! </div>
<div class="text-danger"> {{ last_scan.errors|join:','|default:'UNKNWON ERROR!' }} </div>
{% elif last_scan.success == True %}
<div class="text-success"> Last search records for: <strong>{{ last_scan.ip_range }}</strong></div>
{% endif %}
<div class="panel panel-default">
    <table class="table table-striped table-hover table-advance">
        <thead>
            <tr>
                <th>IP address</th>
                <th>Mac address</th>
                <th>Manufacture</th>
                <th style="width: 140px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in last_scan.discovered_devices %}
            <tr data-row-id="{{ forloop.counter }}" data-device-id="{{ device.obj.pk }}">
                <td data-name="ip">
                {% if device.obj %}
                    <a href="{% url 'core:device-features' device.obj.pk %}">{{ device.ip }}</a> <small class="text-muted">{{ device.obj.name }}</small> <small class="text-muted">[{{ device.obj.mac|default:'No Mac' }}]</small>
                {% else %}
                    {{ device.ip }}
                {% endif %}
                {% if not device.obj and device.hostnames %}
                    <small class="text-muted"> {{ device.hostnames|join:', ' }}</small>
                {% endif %}
                    {{ device.status|device_discover_status_tag }}
                </td>
                <td data-name="mac">{{ device.mac|default:'N/A' }}</td>
                <td data-name="manufacture">{{ device.manufacture|default:'N/A' }}</td>
                <td data-name="actions">
                {% if device.status == 'new' %}
                    <button type="button" name="quick-add" data-toggle="popover" class="btn btn-xs btn-success" data-ip="{{ device.ip }}" data-manufacture="{{ device.manufacture }}" data-mac="{{ device.mac }}">
                        <span class="fa fa-plus"></span> Quick Add <span class="caret"></span>
                    </button>
                {% else %}
                    <a href="{% url 'core:device-edit' device.obj.pk %}" class="btn btn-xs btn-primary">
                        <span class="fa fa-pencil"></span> Edit
                    </a>
                    {% if device.status == 'conflict' %}
                    <button type="button" name="quick-fixmac" data-toggle="popover" class="btn btn-xs btn-warning" data-ip="{{ device.ip }}" data-manufacture="{{ device.manufacture }}" data-mac="{{ device.mac }}">
                        <span class="fa fa-check"></span> Fix Mac
                    </button>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-center text-muted" colspan="4">
                    <em><h4>
                    {% if last_scan.processing %}
                        [Scanning...]
                    {% else %}
                        [NO RECORD!]
                    {% endif %}
                    </h4></em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="quick-add-popover" class="hidden">
    <form name="quick-add-form" method="post" action="{% url 'core:device-add' %}" data-row-ref="$$row_ref$$">
        {% csrf_token %}
        <input type="hidden" name="active" value="1">
        <input type="hidden" name="address" value="$$ip$$">
        <input type="hidden" name="mac" value="$$mac$$">
        <input type="hidden" name="mac_manufacture" value="$$manufacture$$">
        <div class="form-group">
            <input type="text" name="name" class="form-control input-sm" placeholder="Device Name" value="$$name$$" required>
        </div>
        <div class="form-group">
            <button type="submit" name="quick-add-ok" class="btn btn-sm btn-success" data-loading-text="<span class='fa fa-refresh fa-spin'></span>">
                <span class="fa fa-check"></span>
            </button>
            <button type="button" name="close-popover" class="btn btn-sm btn-default"><span class="fa fa-close"></span></button>
        </div>
        <div class="text-danger error-messages" style="display: none;"></div>
    </form>
</div>

<div id="quick-fixmac-popover" class="hidden">
    <form name="quick-fixmac-form" method="post" action="{% url 'core:device-fixmac' 0 %}" data-row-ref="$$row_ref$$" data-device-id="$$device_id$$">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="mac" class="form-control input-sm" placeholder="Mac Adddress" value="$$mac$$" required>
        </div>
        <div class="form-group">
            <button type="submit" name="quick-fixmac-ok" class="btn btn-sm btn-success" data-loading-text="<span class='fa fa-refresh fa-spin'></span>">
                <span class="fa fa-check"></span>
            </button>
            <button type="button" name="close-popover" class="btn btn-sm btn-default"><span class="fa fa-close"></span></button>
        </div>
        <div class="text-danger error-messages" style="display: none;"></div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    var checkIntervalId;
    function checkLastScanResult() {
        $.get("{% url 'core:device-discover' %}?exclude_devices=true", function(data) {
            if (!data.processing) {
                clearInterval(checkIntervalId);
                location.reload();
            }
        });
    }
    {% if last_scan.processing %}
    $('#searchButton').button('loading');
    $('#id_ip_range').prop('disabled', true);
    checkIntervalId = setInterval(checkLastScanResult, 5000);
    {% endif %}
    $('#discoverDeviceForm').on('submit', function () {
        $('#searchButton').button('loading');
    });
    $('button[name=quick-add]').popover({
        html: true,
        placement: 'left',
        content: function () {
            var html = $('#quick-add-popover').html(),
                ip = $(this).attr('data-ip'),
                mac = $(this).attr('data-mac'),
                manufacture = $(this).attr('data-manufacture'),
                row_id=$(this).parents('tr').attr('data-row-id');
            html = html.replace('$$name$$', ip).replace('$$ip$$', ip).replace('$$mac$$', mac).replace('$$manufacture$$', manufacture).replace('$$row_ref$$', row_id);
            return html;
        }
    });
    $('button[name=quick-fixmac]').popover({
        html: true,
        placement: 'left',
        content: function () {
            var html = $('#quick-fixmac-popover').html(),
                mac = $(this).attr('data-mac'),
                row_id=$(this).parents('tr').attr('data-row-id'),
                device_id=$(this).parents('tr').attr('data-device-id');
            html = html.replace('$$mac$$', mac).replace('$$row_ref$$', row_id).replace('$$device_id$$', device_id);
            return html;
        }
    });
    $('#stopButton').on('click', function() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.post("{% url 'core:device-discover-stop' %}", {'csrfmiddlewaretoken': csrftoken}, function() {
            location.reload();
        });
    });
    $(document).on('submit', 'form[name=quick-add-form]', function (e) {
        e.preventDefault();
        var form = $(this),
            btn = $('button[type=submit]', form);
        $('.error-messages', form).hide();
        btn.button('loading');
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize()
        }).done(function (data) {
            var detail_url = "{% url 'core:device-features' 0 %}",
                edit_url = "{% url 'core:device-edit' 0 %}",
                row_id = form.attr('data-row-ref'),
                tr = $('tr[data-row-id={0}]'.f(row_id)),
                device_id = data.id;
            detail_url = detail_url.slice(0, -2) + device_id + '/';
            edit_url = edit_url.slice(0, -2) + device_id + '/';
            tr.find('td[data-name=ip]').html('<a href="{0}">{1}</a> <small class="text-muted">{2}</small> <small class="text-muted">[{3}]</small> <span class="label label-info">Added Now</span>'.f(detail_url, data.address, data.name, data.mac || 'No Mac'));
            tr.find('td[data-name=actions]').html('<a href="{0}" class="btn btn-xs btn-primary"> <span class="fa fa-pencil"></span> Edit </a>'.format(edit_url));
            btn.button('reset');
            setTimeout(function () {
                btn.prop('disabled', true);
            }, 0);
            (($(".popover").popover('hide').data('bs.popover') || {}).inState || {}).click = false;
        }).fail(function (data) {
            btn.button('reset');
            var messages = [];
            if (data.responseJSON && data.responseJSON.message) {
                messages.push('<strong class="small">{0}</strong>'.f(data.responseJSON.message));
            }
            $.each((data.responseJSON.errors || {}), function(k, v) {
                messages.push('<p class="small">{0}: {1}</p>'.f(k, v))
            });
            $('.error-messages', form).html(messages.join(' ')).show();
        });
    });
    $(document).on('submit', 'form[name=quick-fixmac-form]', function (e) {
        e.preventDefault();
        var form = $(this),
            btn = $('button[type=submit]', form),
            device_id = form.attr('data-device-id'),
            action = form.attr('action'),
            form_action = action.slice(0, -2) + device_id + '/';
        $('.error-messages', form).hide();
        btn.button('loading');
        $.ajax({
            type: form.attr('method'),
            url: form_action,
            data: form.serialize()
        }).done(function (data) {
            var detail_url = "{% url 'core:device-features' 0 %}",
                row_id = form.attr('data-row-ref'),
                tr = $('tr[data-row-id={0}]'.f(row_id));
            detail_url = detail_url.slice(0, -2) + device_id + '/';
            tr.find('td[data-name=ip]').html('<a href="{0}">{1}</a> <small class="text-muted">{2}</small> <small class="text-muted">[{3}]</small> <span class="label label-info">Fixed Now</span>'.f(detail_url, data.address, data.name, data.mac || 'No Mac'));
            btn.button('reset');
            setTimeout(function () {
                btn.prop('disabled', true);
            }, 0);
            tr.find('td[data-name=actions] button[name=quick-fixmac]').fadeOut('fast', function() {
                $(this).remove();
            });
            (($(".popover").popover('hide').data('bs.popover') || {}).inState || {}).click = false;
        }).fail(function (data) {
            btn.button('reset');
            var messages = [];
            if (data.responseJSON && data.responseJSON.message) {
                messages.push('<strong class="small">{0}</strong>'.f(data.responseJSON.message));
            }
            $.each((data.responseJSON.errors || {}), function(k, v) {
                messages.push('<p class="small">{0}: {1}</p>'.f(k, v))
            });
            $('.error-messages', form).html(messages.join(' ')).show();
        });
    });
    $(document).on('click', 'button[name=close-popover]', function (e) {
        (($(this).parents(".popover").popover('hide').data('bs.popover') || {}).inState || {}).click = false;
    });
    $(document).on('click', function (e) {
        $('[data-toggle="popover"],[data-original-title]').each(function () {
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false;
            }
        });
    });

});
</script>
{% endblock %}
