{% extends "network_monitor/core/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block extra_css %}
<link href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block breadcrumb_items %}
<li><a href="{% url 'core:device-list' %}">Device List</a></li>
<li>Edit Device</li>
{% endblock %}

{% block content %}
<h3 class="page-title">Edit Device "{{object}}"</h3>

<form class="form-horizontal" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' form_group_class='form-group row' horizontal_label_class='col-md-2' %}
  <hr>
  <div class="form-group">
    <label class="col-md-2 control-label"></label>
    <div class="col-md-9">
      <button type="submit" class="btn btn-primary" name="submit">Save</button>
      <a class="btn btn-default" href="{% url 'core:device-features' object.pk %}">Cancel</a>
      <span class="pull-right">
        <button type="button" class="btn btn-danger" name="delete"><span class="fa fa-trash"></span> Delete</button>
      </span>
    </div>
  </div>
</form>

{% url 'core:device-delete' object.id as delete_action %}
{% include "network_monitor/core/partials/action_modal.html" with prefix_id='action' message_class='text-danger' title='Delete Device' message='Are you sure to delete? this will remove the device permanently!' action=delete_action %}

{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/bootstrap-tagsinput.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/utils.js"></script>
{{form.media}}

<script type="text/javascript">
$(document).ready(function () {
  bindModalAction('actionModal', 'button[name=delete]');
  $('#id_purchase_date, #id_manufacture_date, #id_warranty_expiration_date').datetimepicker({
    format: 'YYYY-MM-DD',
    showTodayButton: true,
    useCurrent: false,
    showClear: true
  });

});
</script>
{% endblock %}
