{% extends "network_monitor/core/base.html" %}
{% load humanize %}
{% load util_tags %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}css/chosen.min.css" rel="stylesheet">
{% endblock %}

{% block breadcrumb_items %}
<li><a href="{% url 'core:device-list' %}">Device List</a></li>
<li>Monitoring Features</li>
{% endblock %}

{% block content %}
    <div class="well">
        <legend class="pad-bot5">
            <div class="btn-group">
                <button type="button" title="Tools" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-wrench"></span> <span class="hidden-xs">Tools</span> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#pingTestModal"><span class="fa fa-search"></span> Ping Test</a></li>
                </ul>
            </div>
            <a target="_blank" class="btn btn-sm btn-danger" title="Print Label" href="{% url 'core:device-print-label' device.pk %}"><span class="fa fa-print"></span></a>
            <a class="btn btn-sm btn-primary" title="Edit Device" href="{% url 'core:device-edit' device.pk %}"><span class="fa fa-pencil"></span></a>
            <span class="text-primary">{{device|title}}<small class="text-muted"> - <a href="{{ device.web_url }}" target="_blank">{{ device.address }}</a></small></span>
            {% if device.active %}
            <span class="label label-success">Enabled</span>
            {% else %}
            <span class="label label-danger">Disabled</span>
            {% endif %}
            <span class="pull-right" title="Status">{{device|device_status_tag}}</span>

        </legend>
        <div class="row mar-bot10">
            <span class="col-md-4">
                <label class="control-label">Mac Address: </label>
                <span class="text-primary">{{device.mac|default:'-'}}{% if device.mac_manufacture %} <small class="text-muted"> {{ device.mac_manufacture }}</small> {% endif %}</span>
            </span>
            <span class="col-md-4">
                <label class="control-label">Username: </label>
                <span class="text-primary">{{device.username|default:'-'}}</span>
            </span>
            <span class="col-md-4">
                <label class="control-label">Password: </label>
            {% if perms.core.access_device_secret_data %}
                <span class="togglable-password"></span> <span class="text-primary">{{device.password|default:'N/A'}}</span>
            {% else %}
                <span class="fa fa-ban text-danger" title="No Access!"></span>
            {% endif %}
            </span>
        </div>
        <div class="row mar-bot10">
            <span class="col-md-4">
                <label class="control-label">Purchase Date: </label>
                <span class="text-primary">{{device.purchase_date|default:'-'}}</span>
            </span>
            <span class="col-md-4">
                <label class="control-label">Manufacture Date: </label>
                <span class="text-primary">{{device.manufacture_date|default:'-'}}</span>
            </span>
            <span class="col-md-4">
                <label class="control-label">Warranty Expiration: </label>
                <span class="text-primary">{{device.warranty_expiration_date|default:'-'}}</span>
            </span>
        </div>
        <div class="row mar-bot10">
            <span class="col-md-4">
                <label class="control-label">Location: </label>
                <span class="text-primary">{{device.location|default:'-'}}</span>
            </span>
            <span class="col-md-4">
                <label class="control-label">Note: </label>
                <span class="text-primary">{{device.note|default:'-'}}</span>
            </span>
            <span class="col-md-4">
                <label class="control-label">Tags: </label>
                <span class="text-primary">{% tags_span device.tags cls='info' %}</span>
            </span>
        </div>
    </div>
    <h4 class="page-title">Monitoring Features of "{{device}}"</h4>

    <table class="table table-hover table-advance">
        <tr>
            <th>Feature Name</th>
            <th>Round Interval</th>
            <th>Enabled?</th>
            <th class="device-features-table-actions-col">Actions</th>
        </tr>
        {% for feature in features %}
        <tr>
            <td><span class="feature-name"><a href="{% url 'device-feature-charts' device.id feature.feature %}">{{ feature.feature }}</a></span> <small class="text-muted">{{feature.app_feature.verbose_name|default:'-'}}</small></td>
            <td>{{ feature.round_interval }} seconds</td>
            <td>{{feature.active|active_icon}}</td>
            <td>
                <a class="btn btn-sm btn-primary" title="View Charts and Reports" href="{% url 'device-feature-charts' device.id feature.feature %}"><span class="fa fa-bar-chart"></span></a>
                <a class="btn btn-sm btn-default" title="Configure Monituring" href="{% url 'device-feature-config' device.id feature.feature %}"><span class="fa fa-gears"></span></a>
                <a class="btn btn-sm btn-default" title="Event Thresholds" href="{% url 'device-feature-threshold-list' device.id feature.feature %}"><span class="fa fa-random"></span></a>
            </td>

        </tr>
        {% empty %}
        <tr><td class="text-center gray-color" colspan="4"> <em>[NO RECORD!]</em></td></tr>
        {% endfor %}
    </table>

    <div class="modal fade" id="pingTestModal" tabindex="-1" role="dialog"
         aria-labelledby="pingTestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><strong>Ping Test on: {{ device }}</strong></h4>
                </div>
                <div class="modal-body">
                    <form id="pingTestForm" method="post" action="{% url 'core:device-ping-test' device.pk %}">
                        {% csrf_token %}
                    </form>
                    <p>
                        <span class="label label-info ping-test-label">&gt;&gt;&gt; ping {{ device.address }}</span>
                        <button class="btn btn-success btn-sm" name="ping-test" data-loading-text="<span class='fa fa-circle-o-notch fa-spin'></span> Running" ><span class="fa fa-play"></span> Run</button>
                    </p>
                    <div class="well ping-response">
                        <span class="text-muted"><em>NO RESPONSE YET!</em></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/utils.js"></script>

<script type="text/javascript">
$(document).ready(function () {
    togglablePassword('.togglable-password');
    $('button[name=ping-test]').click(function(e) {
        e.preventDefault();
        var $btn = $(this).button('loading'),
            $form = $('#pingTestForm'),
            $pingResponse = $('.ping-response').html('<span class="text-muted"><em>Pinging, Please wait...</em></span>');
        $.post($form.attr('action'), $form.serialize())
            .done(function (data) {
                var response = data.data,
                    status = data.status;
                if (status === 'error') {
                    response = response || 'UNKNOWN ERROR!!!';
                }
                $pingResponse.html('<pre class="{0}">{1}</pre>'.f(status, response));
            })
            .fail(function () {
                $pingResponse.html('<span class="text-danger"><h3>FAILED!</h3></span>');
            })
            .always(function () {
                $btn.button('reset');
            });
    });
});
</script>
{% endblock %}
