{% extends "network_monitor/core/user_alert_rule/edit.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block breadcrumb_items %}
<li><a href="{% url 'core:user_alert_rule-list' %}">Alert Rules</a></li>
<li>New Alert Rule</li>
{% endblock %}

{% block content %}
<h3 class="page-title">Add New Alert Rule</h3>

<form name="rule-form" class="form-horizontal" enctype="multipart/form-data" method="post">
  {% block form-controls %}
    {{block.super}}
  {% endblock form-controls %}
  <hr>
  <div class="form-group">
    <label class="col-md-2 control-label"></label>
    <div class="col-md-9">
      <button type="submit" class="btn btn-primary" name="submit">Save</button>
      <a class="btn btn-default" href="{% url 'core:user_alert_rule-list' %}">Cancel</a>
    </div>
  </div>

</form>
{% endblock %}
