{% extends "network_monitor/core/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block breadcrumb_items %}
<li><a href="{% url 'core:profile' %}">Profile</a></li>
<li>Change Password</li>
{% endblock %}

{% block content %}
<h3 class="page-title">Change Your Password</h3>

<form class="form-horizontal" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' form_group_class='form-group row' horizontal_label_class='col-md-2' %}
  <hr>
  <div class="form-group">
    <label class="col-md-2 control-label"></label>
    <div class="col-md-9">
      <button type="submit" class="btn btn-primary" name="submit">Save</button>
      <a class="btn btn-default" href="{% url 'core:profile' %}">Cancel</a>
    </div>
  </div>

</form>
{% endblock %}
